In [111]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pycountry_convert
from datetime import datetime
from pycountry_convert import country_alpha2_to_continent_code

In [82]:
df = pd.read_csv('/home/ayush/Desktop/DATASET/0031102-231002084531237/occurrence.txt', sep='\t',encoding="utf-8")
pd.set_option('display.max_columns', None)
# df.apply(lambda x: pd.api.types.infer_dtype(x.values))

/tmp/ipykernel_10382/3570970118.py:1: DtypeWarning: Columns (82,199) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/home/ayush/Desktop/DATASET/0031102-231002084531237/occurrence.txt', sep='\t',encoding="utf-8")

In [ ]:
df.info()

In [112]:
df.head(7)

,gbifID,accessRights,bibliographicCitation,language,license,modified,publisher,references,rightsHolder,type,institutionID,collectionID,datasetID,institutionCode,collectionCode,datasetName,ownerInstitutionCode,basisOfRecord,informationWithheld,dataGeneralizations,dynamicProperties,occurrenceID,catalogNumber,recordNumber,recordedBy,recordedByID,individualCount,organismQuantity,organismQuantityType,sex,lifeStage,reproductiveCondition,behavior,establishmentMeans,degreeOfEstablishment,pathway,georeferenceVerificationStatus,occurrenceStatus,preparations,disposition,associatedOccurrences,associatedReferences,associatedSequences,associatedTaxa,otherCatalogNumbers,occurrenceRemarks,organismID,organismName,organismScope,associatedOrganisms,previousIdentifications,organismRemarks,materialSampleID,eventID,parentEventID,fieldNumber,eventDate,eventTime,startDayOfYear,endDayOfYear,year,month,day,verbatimEventDate,habitat,samplingProtocol,sampleSizeValue,sampleSizeUnit,samplingEffort,fieldNotes,eventRemarks,locationID,higherGeographyID,higherGeography,continent,waterBody,islandGroup,island,countryCode,stateProvince,county,municipality,locality,verbatimLocality,verbatimElevation,verticalDatum,verbatimDepth,minimumDistanceAboveSurfaceInMeters,maximumDistanceAboveSurfaceInMeters,locationAccordingTo,locationRemarks,decimalLatitude,decimalLongitude,coordinateUncertaintyInMeters,coordinatePrecision,pointRadiusSpatialFit,verbatimCoordinateSystem,verbatimSRS,footprintWKT,footprintSRS,footprintSpatialFit,georeferencedBy,georeferencedDate,georeferenceProtocol,georeferenceSources,georeferenceRemarks,geologicalContextID,earliestEonOrLowestEonothem,latestEonOrHighestEonothem,earliestEraOrLowestErathem,latestEraOrHighestErathem,earliestPeriodOrLowestSystem,latestPeriodOrHighestSystem,earliestEpochOrLowestSeries,latestEpochOrHighestSeries,earliestAgeOrLowestStage,latestAgeOrHighestStage,lowestBiostratigraphicZone,highestBiostratigraphicZone,lithostratigraphicTerms,group,formation,member,bed,identificationID,verbatimIdentification,identificationQualifier,typeStatus,identifiedBy,identifiedByID,dateIdentified,identificationReferences,identificationVerificationStatus,identificationRemarks,taxonID,scientificNameID,acceptedNameUsageID,parentNameUsageID,originalNameUsageID,nameAccordingToID,namePublishedInID,taxonConceptID,scientificName,acceptedNameUsage,parentNameUsage,originalNameUsage,nameAccordingTo,namePublishedIn,namePublishedInYear,higherClassification,kingdom,phylum,class,order,family,subfamily,genus,genericName,subgenus,infragenericEpithet,specificEpithet,infraspecificEpithet,cultivarEpithet,taxonRank,verbatimTaxonRank,vernacularName,nomenclaturalCode,taxonomicStatus,nomenclaturalStatus,taxonRemarks,datasetKey,publishingCountry,lastInterpreted,elevation,elevationAccuracy,depth,depthAccuracy,distanceFromCentroidInMeters,issue,mediaType,hasCoordinate,hasGeospatialIssues,taxonKey,acceptedTaxonKey,kingdomKey,phylumKey,classKey,orderKey,familyKey,genusKey,subgenusKey,speciesKey,species,acceptedScientificName,verbatimScientificName,typifiedName,protocol,lastParsed,lastCrawled,repatriated,relativeOrganismQuantity,projectId,level0Gid,level0Name,level1Gid,level1Name,level2Gid,level2Name,level3Gid,level3Name,iucnRedListCategory,eventType
0,2028713273,NaN,NaN,NaN,CC_BY_NC_4_0,NaN,PlutoF,NaN,Kristjan Adojaan,Event,NaN,NaN,74052,NaN,NaN,Birdmap data,NaN,MACHINE_OBSERVATION,NaN,NaN,NaN,3123967,NaN,NaN,NaN,NaN,1,1.0,individuals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PRESENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.Maria,NaN,NaN,NaN,NaN,NaN,NaN,https://plutof.ut.ee/#/event/view/3537494,NaN,NaN,2007-08-07T06:00:00,NaN,NaN,NaN,2007,8,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EUROPE,NaN,NaN,NaN,BY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52.30767,27.30983,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4986308,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,85366,NaN,2480726,NaN,NaN,NaN,NaN,NaN,"Pandion haliaetus (Linnaeus, 1758)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Animalia,Chordata,Aves,Accipitriformes,Pandionidae,NaN,Pandion,Pandion,NaN,NaN,haliaetus,NaN,NaN,SPECIES,NaN,NaN,NaN,ACCEPTED,NaN,NaN,712dba38-74cc-4704-87c0-63d1bf8484bc,EE,2023-10-17T20:02:35.641Z,NaN,NaN,NaN,NaN,NaN,CONTINENT_DERIVED_FROM_COORDINATES;TAXON_MATCH...,NaN,True,False,2480726,2480726,1,44,212,7191147,4408414,2480725,NaN,2480726,Pandion haliaetus,"Pandion haliaetus (Linnaeus, 1758)","Pandion haliaetus (Linnaeus, 1758)",NaN,DWC_ARCHIVE,2023-10-17T20:02:35.641Z,2023-10-17T19:50:29.040Z,True,NaN,NaN,BLR,Belarus,BLR.1_1,Brest,BLR.1.10_1,Luninets,NaN,NaN,LC,NaN
1,2028931999,NaN,NaN,NaN,CC_BY_NC_4_0,NaN,PlutoF,NaN,Kristjan Adojaan,Event,NaN,NaN,74052,NaN,NaN,Birdmap data,NaN,MACHINE_OBSERVATION,NaN,NaN,NaN,3338562,NaN,NaN,NaN,NaN,1,1.0,individuals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PRESENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,111.Ahja5,NaN,NaN,NaN,NaN,NaN,NaN,https://plutof.ut.ee/#/event/view/3752159,NaN,NaN,2017-06-19T10:24:00,NaN,NaN,NaN,2017,6,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EUROPE,NaN,NaN,NaN,UA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.14460,34.26638,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5201575,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62543,NaN,2474950,NaN,NaN,NaN,NaN,NaN,"Grus grus (Linnaeus, 1758)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Animalia,Chordata,Aves,Gruiformes,Gruidae,NaN,Grus,Grus,NaN,NaN,grus,NaN,NaN,SPECIES,NaN,NaN,NaN,ACCEPTED,NaN,NaN,712dba38-74cc-4704-87c0-63d1bf8484bc,EE,2023-10-17T20:04:02.378Z,NaN,NaN,NaN,NaN,NaN,CONTINENT_DERIVED_FROM_COORDINATES;TAXON_MATCH...,NaN,True,False,2474950,2474950,1,44,212,1493,9313,2474940,NaN,2474950,Grus grus,"Grus grus (Linnaeus, 1758)","Grus grus (Linnaeus, 1758)",NaN,DWC_ARCHIVE,2023-10-17T20:04:02.378Z,2023-10-17T19:50:29.040Z,True,NaN,NaN,UKR,Ukraine,UKR.9_1,Kherson,UKR.9.12_1,Novotro‹ts'kyi,NaN,NaN,LC,NaN
2,2028715905,NaN,NaN,NaN,CC_BY_NC_4_0,NaN,PlutoF,NaN,Kristjan Adojaan,Event,NaN,NaN,74052,NaN,NaN,Birdmap data,NaN,MACHINE_OBSERVATION,NaN,NaN,NaN,3123985,NaN,NaN,NaN,NaN,1,1.0,individuals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PRESENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.Maria,NaN,NaN,NaN,NaN,NaN,NaN,https://plutof.ut.ee/#/event/view/3537512,NaN,NaN,2007-08-22T12:00:00,NaN,NaN,NaN,2007,8,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EUROPE,NaN,NaN,NaN,RO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.29900,26.57217,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4986326,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,85366,NaN,2480726,NaN,NaN,NaN,NaN,NaN,"Pandion haliaetus (Linnaeus, 1758)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Animalia,Chordata,Aves,Accipitriformes,Pandionidae,NaN,Pandion,Pandion,NaN,NaN,haliaetus,NaN,NaN,SPECIES,NaN,NaN,NaN,ACCEPTED,NaN,NaN,712dba38-74cc-4704-87c0-63d1bf8484bc,EE,2023-10-17T20:02:37.986Z,NaN,NaN,NaN,NaN,NaN,CONTINENT_DERIVED_FROM_COORDINATES;TAXON_MATCH...,NaN,True,False,2480726,2480726,1,44,212,7191147,4408414,2480725,NaN,2480726,Pandion haliaetus,"Pandion haliaetus (Linnaeus, 1758)","Pandion haliaetus (Linnaeus, 1758)",NaN,DWC_ARCHIVE,2023-10-17T20:02:37.986Z,2023-10-17T19:50:29.040Z,True,NaN,NaN,ROU,Romania,ROU.4_1,Bacău,ROU.4.80_1,Targu Ocna,NaN,NaN,LC,NaN
3,2028936907,NaN,NaN,NaN,CC_BY_NC_4_0,NaN,PlutoF,NaN,Kristjan Adojaan,Event,NaN,NaN,74052,NaN,NaN,Birdmap data,NaN,MACHINE_OBSERVATION,NaN,NaN,NaN,3338580,NaN,NaN,NaN,NaN,1,1.0,individuals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PRESENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,111.Ahja5,NaN,NaN,NaN,NaN,NaN,NaN,https://plutof.ut.ee/#/event/view/3752177,NaN,NaN,2017-06-19T16:24:00,NaN,NaN,NaN,2017,6,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EUROPE,NaN,NaN,NaN,UA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.14753,34.23717,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5201593,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62543,NaN,2474950,NaN,NaN,NaN,NaN,NaN,"Grus grus (Linnaeus, 1758)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Animalia,Chordata,Aves,Gruiformes,Gruidae,NaN,Grus,Grus,NaN,NaN,grus,NaN,NaN,SPECIES,NaN,NaN,NaN,ACCEPTED,NaN,NaN,712dba38-74cc-4704-87c0-63d1bf8484bc,EE,2023-10-17T20:04:02.379Z,NaN,NaN,NaN,NaN,NaN,CONTINENT_DERIVED_FROM_COORDINATES;TAXON_MATCH...,NaN,True,False,2474950,2474950,1,44,212,1493,9313,2474940,NaN,2474950,Grus grus,"Grus grus (Linnaeus, 1758)","Grus grus (Linnaeus, 1758)",NaN,DWC_ARCHIVE,2023-10-17T20:04:02.379Z,2023-10-17T19:50:29.040Z,True,NaN,NaN,UKR,Ukraine,UKR.9_1,Kherson,UKR.9.12_1,Novotro‹ts'kyi,NaN,NaN,LC,NaN
4,2028715906,NaN,NaN,NaN,CC_BY_NC_4_0,NaN,PlutoF,NaN,Kristjan Adojaan,Event,NaN,NaN,74052,NaN,NaN,Birdmap data,NaN,MACHINE_OBSERVATION,NaN,NaN,NaN,3124010,NaN,NaN,NaN,NaN,1,1.0,individuals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PRESENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.Maria,NaN,NaN,NaN,NaN,NaN,NaN,https://plutof.ut.ee/#/event/view/3537537,NaN,NaN,2007-08-26T06:00:00,NaN,NaN,NaN,2007,8,26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AFRICA,NaN,NaN,NaN,LY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.49767,24.46550,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4986351,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,85366,NaN,2480726,NaN,NaN,NaN,NaN,NaN,"Pandion haliaetus (Linnaeus, 1758)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Animalia,Chordata,Aves,Accipitriformes,Pandionidae,NaN,Pandion,Pandion,NaN,NaN,haliaetus,NaN,NaN,SPECIES,NaN,NaN,NaN,ACCEPTED,NaN,NaN,712dba38-74cc-4704-87c0-63d1bf8484bc,EE,2023-10-17T20:02:38.023Z,NaN,NaN,NaN,NaN,NaN,CONTINENT_DERIVED_FROM_COORDINATES;TAXON_MATCH...,NaN,True,False,2480726,2480726,1,44,212,7191147,4408414,2480725,NaN,2480726,Pandion haliaetus,"Pandion haliaetus (Linnaeus, 1758)","Pandion haliaetus (Linnaeus, 1758)",NaN,DWC_ARCHIVE,2023-10-17T20:02:38.023Z,2023-10-17T19:50:29.040Z,True,NaN,NaN,LBY,Libya,LBY.1_1,Al Butnan,NaN,NaN,NaN,NaN,LC,NaN
5,2028926108,NaN,NaN,NaN,CC_BY_NC_4_0,NaN,PlutoF,NaN,Kristjan Adojaan,Event,NaN,NaN,74052,NaN,NaN,Birdmap data,NaN,MACHINE_OBSERVATION,NaN,NaN,NaN,3338599,NaN,NaN,NaN,NaN,1,1.0,individuals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PRESENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,111.Ahja5,NaN,NaN,NaN,NaN,NaN,NaN,https://plutof.ut.ee/#/event/view/3752197,NaN,NaN,2017-06-19T22:44:00,NaN,NaN,NaN,2017,6,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EUROPE,NaN,NaN,NaN,UA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.14125,34.24380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5201613,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62543,NaN,2474950,NaN,NaN,NaN,NaN,NaN,"Grus grus (Linnaeus, 1758)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Animalia,Chordata,Aves,Gruiformes,Gruidae,NaN,Grus,Grus,NaN,NaN,grus,NaN,NaN,SPECIES,NaN,NaN,NaN,ACCEPTED,NaN,NaN,712dba38-74cc-4704-87c0-63d1bf8484bc,EE,2023-10-17T20:04:02.380Z,NaN,NaN,NaN,NaN,NaN,CONTINENT_DERIVED_FROM_COORDINATES;TAXON_MATCH...,NaN,True,False,2474950,2474950,1,44,212,1493,9313,2474940,NaN,2474950,Grus grus,"Grus grus (Linnaeus, 1758)","Grus grus (Linnaeus, 1758)",NaN,DWC_ARCHIVE,2023-10-17T20:04:02.380Z,2023-10-17T19:50:29.040Z,True,NaN,NaN,UKR,Ukraine,UKR.9_1,Kherson,UKR.9.12_1,Novotro‹ts'kyi,NaN,NaN,LC,NaN
6,2028713670,NaN,NaN,NaN,CC_BY_NC_4_0,NaN,PlutoF,NaN,Kristjan Adojaan,Event,NaN,NaN,74052,NaN,NaN,Birdmap data,NaN,MACHINE_OBSERVATION,NaN,NaN,NaN,3124029,NaN,NaN,NaN,NaN,1,1.0,individuals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PRESENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.Maria,NaN,NaN,NaN,NaN,NaN,NaN,https://plutof.ut.ee/#/event/view/3537556,NaN,NaN,2007-08-28T16:00:00,NaN,NaN,NaN,2007,8,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AFRICA,NaN,NaN,NaN,TD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.88700,22.85383,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4986370,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,85366,NaN,2480726,NaN,NaN,NaN,NaN,NaN,"Pandion haliaetus (Linnaeus, 1758)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Animalia,Chordata,Aves,Accipitriformes,Pandionidae,NaN,Pandion,Pandion,NaN,NaN,haliaetus,NaN,NaN,SPECIES,NaN,NaN,NaN,ACCEPTED,NaN,NaN,712dba38-74cc-4704-87c0-63d1bf8484bc,EE,2023-10-17T20:02:38.030Z,NaN,NaN,NaN,NaN,NaN,CONTINENT_DERIVED_FROM_COORDINATES;TAXON_MATCH...,NaN,True,False,2480726,2480726,1,44,212,7191147,4408414,2480725,NaN,2480726,Pandion haliaetus,"Pandion haliaetus (Linnaeus, 1758)","Pandion haliaetus (Linnaeus, 1758)",NaN,DWC_ARCHIVE,2023-10-17T20:02:38.030Z,2023-10-17T19:50:29.040Z,True,NaN,NaN,TCD,Chad,TCD.5_1,Ennedi Est,TCD.5.1_1,Ennedi Est,TCD.5.1.1_1,Ennedi Est,LC,NaN

In [ ]:
for i in df.columns:
    if df[i].isnull().sum() > 500000:
        del df[i]
        print(i)

In [ ]:
for i in df.columns:
    if df[i].nunique() == 1:
        del df[i]
        print(i)

In [ ]:

df.isnull().sum()

In [ ]:
df.drop("level3Gid", axis =1,inplace=True)

In [ ]:
select_list = ["eventDate","continent","scientificName","genericName","species","level0Name","level1Name","level2Name"]

In [69]:
df[select_list]

,eventDate,continent,scientificName,genericName,species,level0Name,level1Name,level2Name
0,2007-08-07T06:00:00,EUROPE,"Pandion haliaetus (Linnaeus, 1758)",Pandion,Pandion haliaetus,Belarus,Brest,Luninets
1,2017-06-19T10:24:00,EUROPE,"Grus grus (Linnaeus, 1758)",Grus,Grus grus,Ukraine,Kherson,Novotro‹ts'kyi
2,2007-08-22T12:00:00,EUROPE,"Pandion haliaetus (Linnaeus, 1758)",Pandion,Pandion haliaetus,Romania,Bacău,Targu Ocna
3,2017-06-19T16:24:00,EUROPE,"Grus grus (Linnaeus, 1758)",Grus,Grus grus,Ukraine,Kherson,Novotro‹ts'kyi
4,2007-08-26T06:00:00,AFRICA,"Pandion haliaetus (Linnaeus, 1758)",Pandion,Pandion haliaetus,Libya,Al Butnan,NaN
...,...,...,...,...,...,...,...,...
885590,2017-06-18T02:25:00,EUROPE,"Grus grus (Linnaeus, 1758)",Grus,Grus grus,Ukraine,Kherson,Novotro‹ts'kyi
885591,2017-06-18T08:24:00,EUROPE,"Grus grus (Linnaeus, 1758)",Grus,Grus grus,Ukraine,Kherson,Novotro‹ts'kyi
885592,2017-06-18T17:24:00,EUROPE,"Grus grus (Linnaeus, 1758)",Grus,Grus grus,Ukraine,Kherson,Novotro‹ts'kyi
885593,2017-06-18T23:25:00,EUROPE,"Grus grus (Linnaeus, 1758)",Grus,Grus grus,Ukraine,Kherson,Novotro‹ts'kyi
885594,2017-06-19T04:24:00,EUROPE,"Grus grus (Linnaeus, 1758)",Grus,Grus grus,Ukraine,Kherson,Novotro‹ts'kyi

In [70]:
df_select_cols = df[select_list].copy()

In [71]:
df_select_cols.rename(
    columns=
    {
        "level0Name":"Country",
        "level1Name":"City",
        "level2Name":"Town"}

    ,
    inplace =True
)

In [107]:
# from pycountry_convert import country_alpha2_to_continent_code

In [72]:
df_select_cols.head(10)

,eventDate,continent,scientificName,genericName,species,Country,City,Town
0,2007-08-07T06:00:00,EUROPE,"Pandion haliaetus (Linnaeus, 1758)",Pandion,Pandion haliaetus,Belarus,Brest,Luninets
1,2017-06-19T10:24:00,EUROPE,"Grus grus (Linnaeus, 1758)",Grus,Grus grus,Ukraine,Kherson,Novotro‹ts'kyi
2,2007-08-22T12:00:00,EUROPE,"Pandion haliaetus (Linnaeus, 1758)",Pandion,Pandion haliaetus,Romania,Bacău,Targu Ocna
3,2017-06-19T16:24:00,EUROPE,"Grus grus (Linnaeus, 1758)",Grus,Grus grus,Ukraine,Kherson,Novotro‹ts'kyi
4,2007-08-26T06:00:00,AFRICA,"Pandion haliaetus (Linnaeus, 1758)",Pandion,Pandion haliaetus,Libya,Al Butnan,NaN
5,2017-06-19T22:44:00,EUROPE,"Grus grus (Linnaeus, 1758)",Grus,Grus grus,Ukraine,Kherson,Novotro‹ts'kyi
6,2007-08-28T16:00:00,AFRICA,"Pandion haliaetus (Linnaeus, 1758)",Pandion,Pandion haliaetus,Chad,Ennedi Est,Ennedi Est
7,2017-06-20T01:04:00,EUROPE,"Grus grus (Linnaeus, 1758)",Grus,Grus grus,Ukraine,Kherson,Novotro‹ts'kyi
8,2007-08-31T12:00:00,AFRICA,"Pandion haliaetus (Linnaeus, 1758)",Pandion,Pandion haliaetus,Chad,Ouaddaï,Ouara
9,2017-06-20T07:05:00,EUROPE,"Grus grus (Linnaeus, 1758)",Grus,Grus grus,Ukraine,Kherson,Novotro‹ts'kyi

In [76]:
df_select_cols['scientificName'].nunique()

10

In [78]:
df_select_cols.isna().sum()

eventDate             0
continent         36061
scientificName        0
genericName           0
species               0
Country           52328
City              52328
Town              73542
dtype: int64

In [79]:
df_select_cols.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 885595 entries, 0 to 885594
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   eventDate       885595 non-null  object
 1   continent       849534 non-null  object
 2   scientificName  885595 non-null  object
 3   genericName     885595 non-null  object
 4   species         885595 non-null  object
 5   Country         833267 non-null  object
 6   City            833267 non-null  object
 7   Town            812053 non-null  object
dtypes: object(8)
memory usage: 54.1+ MB

In [109]:
continent_to_country = {}

for country in pycountry.countries:
    country_name = country.name
    try:
        continent_name = pycountry.countries.get(alpha_2=country.alpha_2).continent.name
        if continent_name not in continent_to_country:
            continent_to_country[continent_name] = [country_name]
        else:
            continent_to_country[continent_name].append(country_name)
    except AttributeError:
        # Some countries may not have a continent attribute
        continue

# # Accessing the countries in a specific continent
# print("Countries in Africa:", continent_to_country['Africa'])
# print("Countries in Europe:", continent_to_country['Europe'])

In [116]:
# df_select_cols[continent_to_country['EUROPE']]

# import numpy as np
from datetime import datetime

# Create a numpy.datetime64 object representing a specific date and time

    

# Convert to a Python datetime object
datetime_obj = datetime.utcfromtimestamp(df_select_cols["eventDate"].astype(int))

# Extract date, day of the week, week number, month, and year
df_select_cols['date'] = datetime_obj.date()
df_select_cols['day_of_week'] = datetime_obj.strftime('%A')  # Full day name
df_select_cols['week_number'] = datetime_obj.strftime('%U')  # Week number (0-53)
df_select_cols['month'] = datetime_obj.strftime('%B')  # Full month name
df_select_cols['year'] = datetime_obj.year

ValueError: invalid literal for int() with base 10: '2007-08-07T06:00:00'

In [114]:
date =  df_select_cols['eventDate']

In [ ]:
for iter in date:
    date_obj = iter