In [1]:
import pandas as pd

In [11]:
df = pd.read_csv('/home/ayush/Desktop/DATASET/0031102-231002084531237/occurrence.txt', delimiter='\t')
pd.set_option('display.max_columns', 300)
# movies.head()

/tmp/ipykernel_9331/1216247096.py:1: DtypeWarning: Columns (82,199) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/home/ayush/Desktop/DATASET/0031102-231002084531237/occurrence.txt', delimiter='\t')

In [12]:
df.head(5)

,gbifID,accessRights,bibliographicCitation,language,license,modified,publisher,references,rightsHolder,type,institutionID,collectionID,datasetID,institutionCode,collectionCode,datasetName,ownerInstitutionCode,basisOfRecord,informationWithheld,dataGeneralizations,dynamicProperties,occurrenceID,catalogNumber,recordNumber,recordedBy,recordedByID,individualCount,organismQuantity,organismQuantityType,sex,lifeStage,reproductiveCondition,behavior,establishmentMeans,degreeOfEstablishment,pathway,georeferenceVerificationStatus,occurrenceStatus,preparations,disposition,associatedOccurrences,associatedReferences,associatedSequences,associatedTaxa,otherCatalogNumbers,occurrenceRemarks,organismID,organismName,organismScope,associatedOrganisms,previousIdentifications,organismRemarks,materialSampleID,eventID,parentEventID,fieldNumber,eventDate,eventTime,startDayOfYear,endDayOfYear,year,month,day,verbatimEventDate,habitat,samplingProtocol,sampleSizeValue,sampleSizeUnit,samplingEffort,fieldNotes,eventRemarks,locationID,higherGeographyID,higherGeography,continent,waterBody,islandGroup,island,countryCode,stateProvince,county,municipality,locality,verbatimLocality,verbatimElevation,verticalDatum,verbatimDepth,minimumDistanceAboveSurfaceInMeters,maximumDistanceAboveSurfaceInMeters,locationAccordingTo,locationRemarks,decimalLatitude,decimalLongitude,coordinateUncertaintyInMeters,coordinatePrecision,pointRadiusSpatialFit,verbatimCoordinateSystem,verbatimSRS,footprintWKT,footprintSRS,footprintSpatialFit,georeferencedBy,georeferencedDate,georeferenceProtocol,georeferenceSources,georeferenceRemarks,geologicalContextID,earliestEonOrLowestEonothem,latestEonOrHighestEonothem,earliestEraOrLowestErathem,latestEraOrHighestErathem,earliestPeriodOrLowestSystem,latestPeriodOrHighestSystem,earliestEpochOrLowestSeries,latestEpochOrHighestSeries,earliestAgeOrLowestStage,latestAgeOrHighestStage,lowestBiostratigraphicZone,highestBiostratigraphicZone,lithostratigraphicTerms,group,formation,member,bed,identificationID,verbatimIdentification,identificationQualifier,typeStatus,identifiedBy,identifiedByID,dateIdentified,identificationReferences,identificationVerificationStatus,identificationRemarks,taxonID,scientificNameID,acceptedNameUsageID,parentNameUsageID,originalNameUsageID,nameAccordingToID,namePublishedInID,taxonConceptID,scientificName,acceptedNameUsage,parentNameUsage,originalNameUsage,nameAccordingTo,namePublishedIn,namePublishedInYear,higherClassification,kingdom,phylum,class,order,family,subfamily,genus,genericName,subgenus,infragenericEpithet,specificEpithet,infraspecificEpithet,cultivarEpithet,taxonRank,verbatimTaxonRank,vernacularName,nomenclaturalCode,taxonomicStatus,nomenclaturalStatus,taxonRemarks,datasetKey,publishingCountry,lastInterpreted,elevation,elevationAccuracy,depth,depthAccuracy,distanceFromCentroidInMeters,issue,mediaType,hasCoordinate,hasGeospatialIssues,taxonKey,acceptedTaxonKey,kingdomKey,phylumKey,classKey,orderKey,familyKey,genusKey,subgenusKey,speciesKey,species,acceptedScientificName,verbatimScientificName,typifiedName,protocol,lastParsed,lastCrawled,repatriated,relativeOrganismQuantity,projectId,level0Gid,level0Name,level1Gid,level1Name,level2Gid,level2Name,level3Gid,level3Name,iucnRedListCategory,eventType
0,2028713273,NaN,NaN,NaN,CC_BY_NC_4_0,NaN,PlutoF,NaN,Kristjan Adojaan,Event,NaN,NaN,74052,NaN,NaN,Birdmap data,NaN,MACHINE_OBSERVATION,NaN,NaN,NaN,3123967,NaN,NaN,NaN,NaN,1,1.0,individuals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PRESENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.Maria,NaN,NaN,NaN,NaN,NaN,NaN,https://plutof.ut.ee/#/event/view/3537494,NaN,NaN,2007-08-07T06:00:00,NaN,NaN,NaN,2007,8,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EUROPE,NaN,NaN,NaN,BY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52.30767,27.30983,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4986308,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,85366,NaN,2480726,NaN,NaN,NaN,NaN,NaN,"Pandion haliaetus (Linnaeus, 1758)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Animalia,Chordata,Aves,Accipitriformes,Pandionidae,NaN,Pandion,Pandion,NaN,NaN,haliaetus,NaN,NaN,SPECIES,NaN,NaN,NaN,ACCEPTED,NaN,NaN,712dba38-74cc-4704-87c0-63d1bf8484bc,EE,2023-10-17T20:02:35.641Z,NaN,NaN,NaN,NaN,NaN,CONTINENT_DERIVED_FROM_COORDINATES;TAXON_MATCH...,NaN,True,False,2480726,2480726,1,44,212,7191147,4408414,2480725,NaN,2480726,Pandion haliaetus,"Pandion haliaetus (Linnaeus, 1758)","Pandion haliaetus (Linnaeus, 1758)",NaN,DWC_ARCHIVE,2023-10-17T20:02:35.641Z,2023-10-17T19:50:29.040Z,True,NaN,NaN,BLR,Belarus,BLR.1_1,Brest,BLR.1.10_1,Luninets,NaN,NaN,LC,NaN
1,2028931999,NaN,NaN,NaN,CC_BY_NC_4_0,NaN,PlutoF,NaN,Kristjan Adojaan,Event,NaN,NaN,74052,NaN,NaN,Birdmap data,NaN,MACHINE_OBSERVATION,NaN,NaN,NaN,3338562,NaN,NaN,NaN,NaN,1,1.0,individuals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PRESENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,111.Ahja5,NaN,NaN,NaN,NaN,NaN,NaN,https://plutof.ut.ee/#/event/view/3752159,NaN,NaN,2017-06-19T10:24:00,NaN,NaN,NaN,2017,6,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EUROPE,NaN,NaN,NaN,UA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.14460,34.26638,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5201575,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62543,NaN,2474950,NaN,NaN,NaN,NaN,NaN,"Grus grus (Linnaeus, 1758)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Animalia,Chordata,Aves,Gruiformes,Gruidae,NaN,Grus,Grus,NaN,NaN,grus,NaN,NaN,SPECIES,NaN,NaN,NaN,ACCEPTED,NaN,NaN,712dba38-74cc-4704-87c0-63d1bf8484bc,EE,2023-10-17T20:04:02.378Z,NaN,NaN,NaN,NaN,NaN,CONTINENT_DERIVED_FROM_COORDINATES;TAXON_MATCH...,NaN,True,False,2474950,2474950,1,44,212,1493,9313,2474940,NaN,2474950,Grus grus,"Grus grus (Linnaeus, 1758)","Grus grus (Linnaeus, 1758)",NaN,DWC_ARCHIVE,2023-10-17T20:04:02.378Z,2023-10-17T19:50:29.040Z,True,NaN,NaN,UKR,Ukraine,UKR.9_1,Kherson,UKR.9.12_1,Novotro‹ts'kyi,NaN,NaN,LC,NaN
2,2028715905,NaN,NaN,NaN,CC_BY_NC_4_0,NaN,PlutoF,NaN,Kristjan Adojaan,Event,NaN,NaN,74052,NaN,NaN,Birdmap data,NaN,MACHINE_OBSERVATION,NaN,NaN,NaN,3123985,NaN,NaN,NaN,NaN,1,1.0,individuals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PRESENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.Maria,NaN,NaN,NaN,NaN,NaN,NaN,https://plutof.ut.ee/#/event/view/3537512,NaN,NaN,2007-08-22T12:00:00,NaN,NaN,NaN,2007,8,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EUROPE,NaN,NaN,NaN,RO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.29900,26.57217,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4986326,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,85366,NaN,2480726,NaN,NaN,NaN,NaN,NaN,"Pandion haliaetus (Linnaeus, 1758)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Animalia,Chordata,Aves,Accipitriformes,Pandionidae,NaN,Pandion,Pandion,NaN,NaN,haliaetus,NaN,NaN,SPECIES,NaN,NaN,NaN,ACCEPTED,NaN,NaN,712dba38-74cc-4704-87c0-63d1bf8484bc,EE,2023-10-17T20:02:37.986Z,NaN,NaN,NaN,NaN,NaN,CONTINENT_DERIVED_FROM_COORDINATES;TAXON_MATCH...,NaN,True,False,2480726,2480726,1,44,212,7191147,4408414,2480725,NaN,2480726,Pandion haliaetus,"Pandion haliaetus (Linnaeus, 1758)","Pandion haliaetus (Linnaeus, 1758)",NaN,DWC_ARCHIVE,2023-10-17T20:02:37.986Z,2023-10-17T19:50:29.040Z,True,NaN,NaN,ROU,Romania,ROU.4_1,Bacău,ROU.4.80_1,Targu Ocna,NaN,NaN,LC,NaN
3,2028936907,NaN,NaN,NaN,CC_BY_NC_4_0,NaN,PlutoF,NaN,Kristjan Adojaan,Event,NaN,NaN,74052,NaN,NaN,Birdmap data,NaN,MACHINE_OBSERVATION,NaN,NaN,NaN,3338580,NaN,NaN,NaN,NaN,1,1.0,individuals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PRESENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,111.Ahja5,NaN,NaN,NaN,NaN,NaN,NaN,https://plutof.ut.ee/#/event/view/3752177,NaN,NaN,2017-06-19T16:24:00,NaN,NaN,NaN,2017,6,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EUROPE,NaN,NaN,NaN,UA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.14753,34.23717,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5201593,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62543,NaN,2474950,NaN,NaN,NaN,NaN,NaN,"Grus grus (Linnaeus, 1758)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Animalia,Chordata,Aves,Gruiformes,Gruidae,NaN,Grus,Grus,NaN,NaN,grus,NaN,NaN,SPECIES,NaN,NaN,NaN,ACCEPTED,NaN,NaN,712dba38-74cc-4704-87c0-63d1bf8484bc,EE,2023-10-17T20:04:02.379Z,NaN,NaN,NaN,NaN,NaN,CONTINENT_DERIVED_FROM_COORDINATES;TAXON_MATCH...,NaN,True,False,2474950,2474950,1,44,212,1493,9313,2474940,NaN,2474950,Grus grus,"Grus grus (Linnaeus, 1758)","Grus grus (Linnaeus, 1758)",NaN,DWC_ARCHIVE,2023-10-17T20:04:02.379Z,2023-10-17T19:50:29.040Z,True,NaN,NaN,UKR,Ukraine,UKR.9_1,Kherson,UKR.9.12_1,Novotro‹ts'kyi,NaN,NaN,LC,NaN
4,2028715906,NaN,NaN,NaN,CC_BY_NC_4_0,NaN,PlutoF,NaN,Kristjan Adojaan,Event,NaN,NaN,74052,NaN,NaN,Birdmap data,NaN,MACHINE_OBSERVATION,NaN,NaN,NaN,3124010,NaN,NaN,NaN,NaN,1,1.0,individuals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PRESENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.Maria,NaN,NaN,NaN,NaN,NaN,NaN,https://plutof.ut.ee/#/event/view/3537537,NaN,NaN,2007-08-26T06:00:00,NaN,NaN,NaN,2007,8,26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AFRICA,NaN,NaN,NaN,LY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.49767,24.46550,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4986351,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,85366,NaN,2480726,NaN,NaN,NaN,NaN,NaN,"Pandion haliaetus (Linnaeus, 1758)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Animalia,Chordata,Aves,Accipitriformes,Pandionidae,NaN,Pandion,Pandion,NaN,NaN,haliaetus,NaN,NaN,SPECIES,NaN,NaN,NaN,ACCEPTED,NaN,NaN,712dba38-74cc-4704-87c0-63d1bf8484bc,EE,2023-10-17T20:02:38.023Z,NaN,NaN,NaN,NaN,NaN,CONTINENT_DERIVED_FROM_COORDINATES;TAXON_MATCH...,NaN,True,False,2480726,2480726,1,44,212,7191147,4408414,2480725,NaN,2480726,Pandion haliaetus,"Pandion haliaetus (Linnaeus, 1758)","Pandion haliaetus (Linnaeus, 1758)",NaN,DWC_ARCHIVE,2023-10-17T20:02:38.023Z,2023-10-17T19:50:29.040Z,True,NaN,NaN,LBY,Libya,LBY.1_1,Al Butnan,NaN,NaN,NaN,NaN,LC,NaN

In [13]:
df.isna().count()

gbifID                   885595
accessRights             885595
bibliographicCitation    885595
language                 885595
license                  885595
                          ...
level2Name               885595
level3Gid                885595
level3Name               885595
iucnRedListCategory      885595
eventType                885595
Length: 212, dtype: int64

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 885595 entries, 0 to 885594
Columns: 212 entries, gbifID to eventType
dtypes: bool(2), float64(146), int64(19), object(45)
memory usage: 1.4+ GB

In [15]:
df.columns

Index(['gbifID', 'accessRights', 'bibliographicCitation', 'language',
       'license', 'modified', 'publisher', 'references', 'rightsHolder',
       'type',
       ...
       'level0Gid', 'level0Name', 'level1Gid', 'level1Name', 'level2Gid',
       'level2Name', 'level3Gid', 'level3Name', 'iucnRedListCategory',
       'eventType'],
      dtype='object', length=212)

In [17]:
# df2 = pd.read_csv('./verbatim.txt',delimiter='\t')

In [18]:
# list = df2.columns

In [ ]:
# for i in list:
    # print(i)

In [19]:
# df2["bed"].unique()

In [20]:
# df2["family"].unique()

In [21]:
# for i in df.columns:
    # print(i)

In [22]:
df.ndim

2

In [23]:
# df2.shape

In [24]:
df["organismQuantityType"].unique()

array(['individuals'], dtype=object)

In [25]:
df["lifeStage"].unique()

array([nan])

In [ ]:
df["taxonomicStatus"].unique()

In [ ]:
df2["taxonomicStatus"].unique()

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df['islandGroup'].unique()

In [ ]:
df.shape

In [ ]:
df2.shape

In [7]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 885595 entries, 0 to 885594
Columns: 181 entries, gbifID to taxonRemarks
dtypes: float64(151), int64(7), object(23)
memory usage: 1.2+ GB

In [8]:
df2.describe()

,gbifID,accessRights,bibliographicCitation,language,license,publisher,references,institutionID,collectionID,datasetID,...,specificEpithet,infraspecificEpithet,cultivarEpithet,verbatimTaxonRank,scientificNameAuthorship,vernacularName,nomenclaturalCode,taxonomicStatus,nomenclaturalStatus,taxonRemarks
count,8.855950e+05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,885595.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,2.967324e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,74052.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,8.655638e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,2.028713e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,74052.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,2.028936e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,74052.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,3.765493e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,74052.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,3.765717e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,74052.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,3.765939e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,74052.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
list_column = df2.columns

In [13]:
for columns in list_column:
    if df2[columns].isna().sum() > 400000:
        del df2[columns]

In [20]:
list_new_cols = df2.columns

In [21]:
for i in lilst_new_cols:
    print(i)

gbifID
modified
rightsHolder
type
datasetID
datasetName
basisOfRecord
occurrenceID
individualCount
organismQuantity
organismQuantityType
occurrenceStatus
organismID
eventID
eventDate
country
decimalLatitude
decimalLongitude
geodeticDatum
identificationID
taxonID
scientificName
kingdom
phylum
class
order
family
genus
taxonRank

In [22]:
df2["eventDate"]

0         2007-08-07T06:00Z
1         2017-06-19T10:24Z
2         2007-08-22T12:00Z
3         2017-06-19T16:24Z
4         2007-08-26T06:00Z
                ...
885590    2017-06-18T02:25Z
885591    2017-06-18T08:24Z
885592    2017-06-18T17:24Z
885593    2017-06-18T23:25Z
885594    2017-06-19T04:24Z
Name: eventDate, Length: 885595, dtype: object

In [23]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 885595 entries, 0 to 885594
Data columns (total 29 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   gbifID                885595 non-null  int64
 1   modified              885595 non-null  object
 2   rightsHolder          885595 non-null  object
 3   type                  885595 non-null  object
 4   datasetID             885595 non-null  int64
 5   datasetName           885595 non-null  object
 6   basisOfRecord         885595 non-null  object
 7   occurrenceID          885595 non-null  int64
 8   individualCount       885595 non-null  int64
 9   organismQuantity      885595 non-null  int64
 10  organismQuantityType  885595 non-null  object
 11  occurrenceStatus      885595 non-null  object
 12  organismID            885595 non-null  object
 13  eventID               885595 non-null  object
 14  eventDate             885595 non-null  object
 15  country               885595 non-null  object
 16  decimalLatitude       885595 non-null  object
 17  decimalLongitude      885595 non-null  object
 18  geodeticDatum         885595 non-null  object
 19  identificationID      885595 non-null  int64
 20  taxonID               885595 non-null  int64
 21  scientificName        885595 non-null  object
 22  kingdom               885595 non-null  object
 23  phylum                885595 non-null  object
 24  class                 885595 non-null  object
 25  order                 885595 non-null  object
 26  family                885595 non-null  object
 27  genus                 885595 non-null  object
 28  taxonRank             885595 non-null  object
dtypes: int64(7), object(22)
memory usage: 195.9+ MB

In [38]:
df2["eventDate"].min()

'2006-07-27T06:00Z'

In [39]:
df2["eventDate"].max()

'2022-04-27T14:28Z'

In [40]:
df2.head()

,gbifID,modified,rightsHolder,type,datasetID,datasetName,basisOfRecord,occurrenceID,individualCount,organismQuantity,organismQuantityType,occurrenceStatus,organismID,eventID,eventDate,country,decimalLatitude,decimalLongitude,geodeticDatum,identificationID,taxonID,scientificName,kingdom,phylum,class,order,family,genus,taxonRank
0,2028713273,2021-12-16 07:55:35.644328+00:00,Kristjan Adojaan,Event,74052,Birdmap data,MachineObservation,3123967,1,1,individuals,present,2.Maria,https://plutof.ut.ee/#/event/view/3537494,2007-08-07T06:00Z,Belarus,52.30767,27.30983,WGS84,4986308,85366,"Pandion haliaetus (Linnaeus, 1758)",Metazoa,Chordata,Aves,Accipitriformes,Pandionidae,Pandion,Species
1,2028931999,2021-12-16 11:16:00.550446+00:00,Kristjan Adojaan,Event,74052,Birdmap data,MachineObservation,3338562,1,1,individuals,present,111.Ahja5,https://plutof.ut.ee/#/event/view/3752159,2017-06-19T10:24Z,Ukraine,46.1446,34.26638,WGS84,5201575,62543,"Grus grus (Linnaeus, 1758)",Metazoa,Chordata,Aves,Gruiformes,Gruidae,Grus,Species
2,2028715905,2021-12-16 07:55:38.979779+00:00,Kristjan Adojaan,Event,74052,Birdmap data,MachineObservation,3123985,1,1,individuals,present,2.Maria,https://plutof.ut.ee/#/event/view/3537512,2007-08-22T12:00Z,Romania,46.299,26.57217,WGS84,4986326,85366,"Pandion haliaetus (Linnaeus, 1758)",Metazoa,Chordata,Aves,Accipitriformes,Pandionidae,Pandion,Species
3,2028936907,2021-12-16 11:16:01.008779+00:00,Kristjan Adojaan,Event,74052,Birdmap data,MachineObservation,3338580,1,1,individuals,present,111.Ahja5,https://plutof.ut.ee/#/event/view/3752177,2017-06-19T16:24Z,Ukraine,46.14753,34.23717,WGS84,5201593,62543,"Grus grus (Linnaeus, 1758)",Metazoa,Chordata,Aves,Gruiformes,Gruidae,Grus,Species
4,2028715906,2021-12-16 07:55:43.571024+00:00,Kristjan Adojaan,Event,74052,Birdmap data,MachineObservation,3124010,1,1,individuals,present,2.Maria,https://plutof.ut.ee/#/event/view/3537537,2007-08-26T06:00Z,Libya,29.49767,24.4655,WGS84,4986351,85366,"Pandion haliaetus (Linnaeus, 1758)",Metazoa,Chordata,Aves,Accipitriformes,Pandionidae,Pandion,Species

In [41]:
df2["individualCount"].unique()

array([1])

In [8]:
df_3 = df2.copy()

In [11]:
df_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 885595 entries, 0 to 885594
Columns: 181 entries, gbifID to taxonRemarks
dtypes: float64(151), int64(7), object(23)
memory usage: 1.2+ GB

In [9]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 885595 entries, 0 to 885594
Columns: 181 entries, gbifID to taxonRemarks
dtypes: float64(151), int64(7), object(23)
memory usage: 1.2+ GB

In [12]:
for column in df_3.columns:
    if df_3[column].nunique() == 1:
        print(column)
        del df_3[column]

rightsHolder
type
datasetID
datasetName
basisOfRecord
individualCount
organismQuantity
organismQuantityType
occurrenceStatus
locality
geodeticDatum
kingdom
phylum
class
taxonRank

In [53]:
df_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 885595 entries, 0 to 885594
Data columns (total 15 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   gbifID            885595 non-null  int64
 1   modified          885595 non-null  object
 2   occurrenceID      885595 non-null  int64
 3   organismID        885595 non-null  object
 4   eventID           885595 non-null  object
 5   eventDate         885595 non-null  object
 6   country           885595 non-null  object
 7   decimalLatitude   885595 non-null  object
 8   decimalLongitude  885595 non-null  object
 9   identificationID  885595 non-null  int64
 10  taxonID           885595 non-null  int64
 11  scientificName    885595 non-null  object
 12  order             885595 non-null  object
 13  family            885595 non-null  object
 14  genus             885595 non-null  object
dtypes: int64(4), object(11)
memory usage: 101.3+ MB

In [54]:
df_3.head()

,gbifID,modified,occurrenceID,organismID,eventID,eventDate,country,decimalLatitude,decimalLongitude,identificationID,taxonID,scientificName,order,family,genus
0,2028713273,2021-12-16 07:55:35.644328+00:00,3123967,2.Maria,https://plutof.ut.ee/#/event/view/3537494,2007-08-07T06:00Z,Belarus,52.30767,27.30983,4986308,85366,"Pandion haliaetus (Linnaeus, 1758)",Accipitriformes,Pandionidae,Pandion
1,2028931999,2021-12-16 11:16:00.550446+00:00,3338562,111.Ahja5,https://plutof.ut.ee/#/event/view/3752159,2017-06-19T10:24Z,Ukraine,46.1446,34.26638,5201575,62543,"Grus grus (Linnaeus, 1758)",Gruiformes,Gruidae,Grus
2,2028715905,2021-12-16 07:55:38.979779+00:00,3123985,2.Maria,https://plutof.ut.ee/#/event/view/3537512,2007-08-22T12:00Z,Romania,46.299,26.57217,4986326,85366,"Pandion haliaetus (Linnaeus, 1758)",Accipitriformes,Pandionidae,Pandion
3,2028936907,2021-12-16 11:16:01.008779+00:00,3338580,111.Ahja5,https://plutof.ut.ee/#/event/view/3752177,2017-06-19T16:24Z,Ukraine,46.14753,34.23717,5201593,62543,"Grus grus (Linnaeus, 1758)",Gruiformes,Gruidae,Grus
4,2028715906,2021-12-16 07:55:43.571024+00:00,3124010,2.Maria,https://plutof.ut.ee/#/event/view/3537537,2007-08-26T06:00Z,Libya,29.49767,24.4655,4986351,85366,"Pandion haliaetus (Linnaeus, 1758)",Accipitriformes,Pandionidae,Pandion

In [55]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 885595 entries, 0 to 885594
Data columns (total 15 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   gbifID            885595 non-null  int64
 1   modified          885595 non-null  object
 2   occurrenceID      885595 non-null  int64
 3   organismID        885595 non-null  object
 4   eventID           885595 non-null  object
 5   eventDate         885595 non-null  object
 6   country           885595 non-null  object
 7   decimalLatitude   885595 non-null  object
 8   decimalLongitude  885595 non-null  object
 9   identificationID  885595 non-null  int64
 10  taxonID           885595 non-null  int64
 11  scientificName    885595 non-null  object
 12  order             885595 non-null  object
 13  family            885595 non-null  object
 14  genus             885595 non-null  object
dtypes: int64(4), object(11)
memory usage: 101.3+ MB

In [14]:
df2["type"].unique()

array(['Event'], dtype=object)

In [15]:
df2["locality"].unique()

array([nan, 'RESTRICTED'], dtype=object)

In [16]:
df_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 885595 entries, 0 to 885594
Columns: 166 entries, gbifID to taxonRemarks
dtypes: float64(151), int64(4), object(11)
memory usage: 1.1+ GB

In [17]:
for column in df_3.columns:
    if df_3[column].isna().sum() > 700000:
        print(column)
        del df_3[column]

accessRights
bibliographicCitation
language
license
publisher
references
institutionID
collectionID
institutionCode
collectionCode
ownerInstitutionCode
informationWithheld
dataGeneralizations
dynamicProperties
catalogNumber
recordNumber
recordedBy
recordedByID
sex
lifeStage
reproductiveCondition
behavior
establishmentMeans
degreeOfEstablishment
pathway
georeferenceVerificationStatus
preparations
disposition
associatedMedia
associatedOccurrences
associatedReferences
associatedSequences
associatedTaxa
otherCatalogNumbers
occurrenceRemarks
organismName
organismScope
associatedOrganisms
previousIdentifications
organismRemarks
materialSampleID
parentEventID
fieldNumber
eventTime
startDayOfYear
endDayOfYear
year
month
day
verbatimEventDate
habitat
samplingProtocol
sampleSizeValue
sampleSizeUnit
samplingEffort
fieldNotes
eventRemarks
locationID
higherGeographyID
higherGeography
continent
waterBody
islandGroup
island
countryCode
stateProvince
county
municipality
verbatimLocality
minimumElevationInMeters
maximumElevationInMeters
verbatimElevation
verticalDatum
minimumDepthInMeters
maximumDepthInMeters
verbatimDepth
minimumDistanceAboveSurfaceInMeters
maximumDistanceAboveSurfaceInMeters
locationAccordingTo
locationRemarks
coordinateUncertaintyInMeters
coordinatePrecision
pointRadiusSpatialFit
verbatimCoordinates
verbatimLatitude
verbatimLongitude
verbatimCoordinateSystem
verbatimSRS
footprintWKT
footprintSRS
footprintSpatialFit
georeferencedBy
georeferencedDate
georeferenceProtocol
georeferenceSources
georeferenceRemarks
geologicalContextID
earliestEonOrLowestEonothem
latestEonOrHighestEonothem
earliestEraOrLowestErathem
latestEraOrHighestErathem
earliestPeriodOrLowestSystem
latestPeriodOrHighestSystem
earliestEpochOrLowestSeries
latestEpochOrHighestSeries
earliestAgeOrLowestStage
latestAgeOrHighestStage
lowestBiostratigraphicZone
highestBiostratigraphicZone
lithostratigraphicTerms
group
formation
member
bed
verbatimIdentification
identificationQualifier
typeStatus
identifiedBy
identifiedByID
dateIdentified
identificationReferences
identificationVerificationStatus
identificationRemarks
scientificNameID
acceptedNameUsageID
parentNameUsageID
originalNameUsageID
nameAccordingToID
namePublishedInID
taxonConceptID
acceptedNameUsage
parentNameUsage
originalNameUsage
nameAccordingTo
namePublishedIn
namePublishedInYear
higherClassification
subfamily
genericName
subgenus
infragenericEpithet
specificEpithet
infraspecificEpithet
cultivarEpithet
verbatimTaxonRank
scientificNameAuthorship
vernacularName
nomenclaturalCode
taxonomicStatus
nomenclaturalStatus
taxonRemarks

In [20]:
for i in df_3.columns:
    print(f"NA values in {i} is {df_3[i].isna().sum()}")

NA values in gbifID is 0
NA values in modified is 0
NA values in occurrenceID is 0
NA values in organismID is 0
NA values in eventID is 0
NA values in eventDate is 0
NA values in country is 0
NA values in decimalLatitude is 0
NA values in decimalLongitude is 0
NA values in identificationID is 0
NA values in taxonID is 0
NA values in scientificName is 0
NA values in order is 0
NA values in family is 0
NA values in genus is 0

In [21]:
df_3.corr(numeric_only=True)

                    gbifID  occurrenceID  identificationID   taxonID
gbifID            1.000000      0.990071          0.999735  0.130959
occurrenceID      0.990071      1.000000          0.993043  0.139924
identificationID  0.999735      0.993043          1.000000  0.132609
taxonID           0.130959      0.139924          0.132609  1.000000

In [22]:
df_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 885595 entries, 0 to 885594
Data columns (total 15 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   gbifID            885595 non-null  int64
 1   modified          885595 non-null  object
 2   occurrenceID      885595 non-null  int64
 3   organismID        885595 non-null  object
 4   eventID           885595 non-null  object
 5   eventDate         885595 non-null  object
 6   country           885595 non-null  object
 7   decimalLatitude   885595 non-null  object
 8   decimalLongitude  885595 non-null  object
 9   identificationID  885595 non-null  int64
 10  taxonID           885595 non-null  int64
 11  scientificName    885595 non-null  object
 12  order             885595 non-null  object
 13  family            885595 non-null  object
 14  genus             885595 non-null  object
dtypes: int64(4), object(11)
memory usage: 101.3+ MB

In [24]:
df_3["genus"].unique()

array(['Pandion', 'Grus', 'Ciconia', 'Haliaeetus', 'Clanga', 'Buteo',
       'Botaurus', 'Aegypius'], dtype=object)

In [27]:
df_3["scientificName"].nunique()

10

In [ ]:
df_3["        "]