In [1]:
import pandas as pd

In [4]:
df =pd.read_csv("PFW_all_2016_2020_June2023_Public.csv")

/tmp/ipykernel_8386/2688931670.py:1: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  df =pd.read_csv("PFW_all_2016_2020_June2023_Public.csv")

In [5]:
df.head()

,LOC_ID,LATITUDE,LONGITUDE,SUBNATIONAL1_CODE,ENTRY_TECHNIQUE,SUB_ID,OBS_ID,Month,Day,Year,...,PLUS_CODE,VALID,REVIEWED,DAY1_AM,DAY1_PM,DAY2_AM,DAY2_PM,EFFORT_HRS_ATLEAST,SNOW_DEP_ATLEAST,Data_Entry_Method
0,L100025,42.675982,-70.848019,US-MA,PointMaker1.0_2,S40896068,OBS554449393,12,2,2017,...,NaN,1.0,0.0,0.0,1.0,1.0,1.0,1.001,NaN,PFW Web 2.x
1,L100025,42.675982,-70.848019,US-MA,PointMaker1.0_2,S40896068,OBS554449394,12,2,2017,...,NaN,1.0,0.0,0.0,1.0,1.0,1.0,1.001,NaN,PFW Web 2.x
2,L100025,42.675982,-70.848019,US-MA,PointMaker1.0_2,S40896068,OBS554449395,12,2,2017,...,NaN,1.0,0.0,0.0,1.0,1.0,1.0,1.001,NaN,PFW Web 2.x
3,L100025,42.675982,-70.848019,US-MA,PointMaker1.0_2,S40896068,OBS554449396,12,2,2017,...,NaN,1.0,0.0,0.0,1.0,1.0,1.0,1.001,NaN,PFW Web 2.x
4,L100025,42.675982,-70.848019,US-MA,PointMaker1.0_2,S40896068,OBS554449397,12,2,2017,...,NaN,1.0,0.0,0.0,1.0,1.0,1.0,1.001,NaN,PFW Web 2.x

In [6]:
df["Year"].unique()

array([2017, 2018, 2019, 2015, 2016, 2020])

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9209114 entries, 0 to 9209113
Data columns (total 24 columns):
 #   Column              Dtype
---  ------              -----
 0   LOC_ID              object
 1   LATITUDE            float64
 2   LONGITUDE           float64
 3   SUBNATIONAL1_CODE   object
 4   ENTRY_TECHNIQUE     object
 5   SUB_ID              object
 6   OBS_ID              object
 7   Month               int64
 8   Day                 int64
 9   Year                int64
 10  PROJ_PERIOD_ID      object
 11  SPECIES_CODE        object
 12  alt_full_spp_code   object
 13  HOW_MANY            float64
 14  PLUS_CODE           float64
 15  VALID               float64
 16  REVIEWED            float64
 17  DAY1_AM             float64
 18  DAY1_PM             float64
 19  DAY2_AM             float64
 20  DAY2_PM             float64
 21  EFFORT_HRS_ATLEAST  float64
 22  SNOW_DEP_ATLEAST    float64
 23  Data_Entry_Method   object
dtypes: float64(12), int64(3), object(9)
memory usage: 1.6+ GB

In [13]:
df['SUBNATIONAL1_CODE'].unique()

array(['US-MA', 'US-MN', 'US-GA', 'US-OH', 'US-WA', 'US-NC', 'US-NY',
       'US-AK', 'US-PA', 'US-VA', 'US-KS', 'US-OR', 'CA-ON', 'US-RI',
       'CA-MB', 'CA-BC', 'CA-QC', 'US-VT', 'US-CO', 'US-IL', 'US-CT',
       'US-CA', 'CA-AB', 'US-MO', 'US-FL', 'US-MI', 'US-KY', 'US-TX',
       'US-WI', 'US-SC', 'US-ND', 'US-ID', 'US-TN', 'US-NM', 'US-AZ',
       'US-SD', 'US-NJ', 'US-WV', 'US-AL', 'US-DE', 'US-ME', 'US-IN',
       'US-MD', 'US-MT', 'US-LA', 'US-IA', 'CA-NB', 'US-AR', 'CA-NS',
       'US-NH', 'US-NV', 'CA-SK', 'US-WY', 'CA-PE', 'US-HI', 'US-NE',
       'US-OK', 'US-UT', 'CA-YT', 'US-DC', 'CR-P', 'CA-NL', 'CA-NT',
       'US-MS', 'PM-', 'CA-NU', 'XX-', 'MX-JAL', 'MX-NAY'], dtype=object)