In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

/usr/lib/python3/dist-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.17.3 and <1.25.0 is required for this version of SciPy (detected version 1.25.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [ ]:
df=pd.read_csv("/home/sunbeam/Desktop/DATASET/0031102-231002084531237/occurrence.txt",delimiter = '\t')

/tmp/ipykernel_7624/1261651703.py:1: DtypeWarning: Columns (82,199) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("/home/sunbeam/Desktop/DATASET/0031102-231002084531237/occurrence.txt",delimiter = '\t')

In [ ]:
df.info()

In [59]:
null_percentage = (df.isnull().sum() / len(df)) * 100

columns_to_remove = null_percentage[null_percentage > 60].index

df_cleaned = df.drop(columns=columns_to_remove)

In [60]:
df_cleaned

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[885595 rows x 0 columns]