In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

/usr/lib/python3/dist-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.17.3 and <1.25.0 is required for this version of SciPy (detected version 1.25.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
df=pd.read_csv("/home/sunbeam/Desktop/DATASET/0031102-231002084531237/occurrence.txt",delimiter = '\t')

/tmp/ipykernel_11237/1261651703.py:1: DtypeWarning: Columns (82,199) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("/home/sunbeam/Desktop/DATASET/0031102-231002084531237/occurrence.txt",delimiter = '\t')

In [3]:
pd.set_option('display.max_columns',None)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 885595 entries, 0 to 885594
Columns: 212 entries, gbifID to eventType
dtypes: bool(2), float64(146), int64(19), object(45)
memory usage: 1.4+ GB

In [4]:
null_percentage = (df.isnull().sum() / len(df)) * 100

columns_to_remove = null_percentage[null_percentage > 80].index

df_cleaned = df.drop(columns=columns_to_remove)

In [5]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 885595 entries, 0 to 885594
Data columns (total 68 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   gbifID                  885595 non-null  int64
 1   license                 885595 non-null  object
 2   publisher               885595 non-null  object
 3   rightsHolder            885595 non-null  object
 4   type                    885595 non-null  object
 5   datasetID               885595 non-null  int64
 6   datasetName             885595 non-null  object
 7   basisOfRecord           885595 non-null  object
 8   occurrenceID            885595 non-null  int64
 9   individualCount         885595 non-null  int64
 10  organismQuantity        885595 non-null  float64
 11  organismQuantityType    885595 non-null  object
 12  occurrenceStatus        885595 non-null  object
 13  organismID              885595 non-null  object
 14  eventID                 885595 non-null  object
 15  eventDate               885595 non-null  object
 16  year                    885595 non-null  int64
 17  month                   885595 non-null  int64
 18  day                     885595 non-null  int64
 19  continent               849534 non-null  object
 20  countryCode             849714 non-null  object
 21  decimalLatitude         843385 non-null  float64
 22  decimalLongitude        843385 non-null  float64
 23  identificationID        885595 non-null  int64
 24  taxonID                 885595 non-null  int64
 25  acceptedNameUsageID     885595 non-null  int64
 26  scientificName          885595 non-null  object
 27  kingdom                 885595 non-null  object
 28  phylum                  885595 non-null  object
 29  class                   885595 non-null  object
 30  order                   885595 non-null  object
 31  family                  885595 non-null  object
 32  genus                   885595 non-null  object
 33  genericName             885595 non-null  object
 34  specificEpithet         885595 non-null  object
 35  taxonRank               885595 non-null  object
 36  taxonomicStatus         885595 non-null  object
 37  datasetKey              885595 non-null  object
 38  publishingCountry       885595 non-null  object
 39  lastInterpreted         885595 non-null  object
 40  issue                   885595 non-null  object
 41  hasCoordinate           885595 non-null  bool
 42  hasGeospatialIssues     885595 non-null  bool
 43  taxonKey                885595 non-null  int64
 44  acceptedTaxonKey        885595 non-null  int64
 45  kingdomKey              885595 non-null  int64
 46  phylumKey               885595 non-null  int64
 47  classKey                885595 non-null  int64
 48  orderKey                885595 non-null  int64
 49  familyKey               885595 non-null  int64
 50  genusKey                885595 non-null  int64
 51  speciesKey              885595 non-null  int64
 52  species                 885595 non-null  object
 53  acceptedScientificName  885595 non-null  object
 54  verbatimScientificName  885595 non-null  object
 55  protocol                885595 non-null  object
 56  lastParsed              885595 non-null  object
 57  lastCrawled             885595 non-null  object
 58  repatriated             851240 non-null  object
 59  level0Gid               833267 non-null  object
 60  level0Name              833267 non-null  object
 61  level1Gid               833267 non-null  object
 62  level1Name              833267 non-null  object
 63  level2Gid               812053 non-null  object
 64  level2Name              812053 non-null  object
 65  level3Gid               402004 non-null  object
 66  level3Name              359057 non-null  object
 67  iucnRedListCategory     885595 non-null  object
dtypes: bool(2), float64(3), int64(19), object(44)
memory usage: 447.6+ MB

In [22]:
# if df_cleaned.isna() == True:


for i in df_cleaned.columns:
    if df_cleaned[i].isna() == True:
        # df_cleaned.drop(df_)
        df_cleaned.isna().count()

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [18]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 885595 entries, 0 to 885594
Data columns (total 68 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   gbifID                  885595 non-null  int64
 1   license                 885595 non-null  object
 2   publisher               885595 non-null  object
 3   rightsHolder            885595 non-null  object
 4   type                    885595 non-null  object
 5   datasetID               885595 non-null  int64
 6   datasetName             885595 non-null  object
 7   basisOfRecord           885595 non-null  object
 8   occurrenceID            885595 non-null  int64
 9   individualCount         885595 non-null  int64
 10  organismQuantity        885595 non-null  float64
 11  organismQuantityType    885595 non-null  object
 12  occurrenceStatus        885595 non-null  object
 13  organismID              885595 non-null  object
 14  eventID                 885595 non-null  object
 15  eventDate               885595 non-null  object
 16  year                    885595 non-null  int64
 17  month                   885595 non-null  int64
 18  day                     885595 non-null  int64
 19  continent               849534 non-null  object
 20  countryCode             849714 non-null  object
 21  decimalLatitude         843385 non-null  float64
 22  decimalLongitude        843385 non-null  float64
 23  identificationID        885595 non-null  int64
 24  taxonID                 885595 non-null  int64
 25  acceptedNameUsageID     885595 non-null  int64
 26  scientificName          885595 non-null  object
 27  kingdom                 885595 non-null  object
 28  phylum                  885595 non-null  object
 29  class                   885595 non-null  object
 30  order                   885595 non-null  object
 31  family                  885595 non-null  object
 32  genus                   885595 non-null  object
 33  genericName             885595 non-null  object
 34  specificEpithet         885595 non-null  object
 35  taxonRank               885595 non-null  object
 36  taxonomicStatus         885595 non-null  object
 37  datasetKey              885595 non-null  object
 38  publishingCountry       885595 non-null  object
 39  lastInterpreted         885595 non-null  object
 40  issue                   885595 non-null  object
 41  hasCoordinate           885595 non-null  bool
 42  hasGeospatialIssues     885595 non-null  bool
 43  taxonKey                885595 non-null  int64
 44  acceptedTaxonKey        885595 non-null  int64
 45  kingdomKey              885595 non-null  int64
 46  phylumKey               885595 non-null  int64
 47  classKey                885595 non-null  int64
 48  orderKey                885595 non-null  int64
 49  familyKey               885595 non-null  int64
 50  genusKey                885595 non-null  int64
 51  speciesKey              885595 non-null  int64
 52  species                 885595 non-null  object
 53  acceptedScientificName  885595 non-null  object
 54  verbatimScientificName  885595 non-null  object
 55  protocol                885595 non-null  object
 56  lastParsed              885595 non-null  object
 57  lastCrawled             885595 non-null  object
 58  repatriated             851240 non-null  object
 59  level0Gid               833267 non-null  object
 60  level0Name              833267 non-null  object
 61  level1Gid               833267 non-null  object
 62  level1Name              833267 non-null  object
 63  level2Gid               812053 non-null  object
 64  level2Name              812053 non-null  object
 65  level3Gid               402004 non-null  object
 66  level3Name              359057 non-null  object
 67  iucnRedListCategory     885595 non-null  object
dtypes: bool(2), float64(3), int64(19), object(44)
memory usage: 447.6+ MB